<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-7">
        <i class="fa fa-copyright"></i>&nbsp;Jan Šaroch
        <a href="http://www.vcelnicerudna.cz" target="_self">www.vcelnicerudna.cz</a>
        <a href="https://play.google.com/store/apps/details?id=cz.vcelnicerudna" target="_blank"
           class="pull-right android-logo">
          <i class="fa fa-android fa-2x"></i>
        </a>
      </div>
      <div class="col-8 col-sm-4">
        <i class="fa fa-code"></i>&nbsp;Web Design:
        <a href="mailto:oyapparov@gmail.com">Oleg</a>
      </div>
    </div>
  </div>
</footer>
